<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../../dist/output.css"> 
    <title>Document</title>
</head>
<body>    
    <!-- <h1 class="bg-blue-600">MARS photo API</h1> -->
    <nav class="sticky top-0 z-10 w-full h-20 bg-black bg-opacity-75">
        <p class="text-blue-100 font-extrabold text-xl p-4">
            <a href="/">EXPLORE MARS</a> 
            <small class="block font-light text-xs">Images by NASA Curiosity Rover</small>
        </p>        
    </nav>
    <% let cameras = [
        'FHAZ',
        'RHAZ',
        'MAST',
        'CHEMCAM',
        'MAHLI',
        'MARDI',
        'NAVCAM',
        'PANCAM',
        'MINITES'
        ] %>
    <div class="pb-12 mx-2">
        <!-- <h2 class="text-base font-semibold leading-7 text-gray-100">EXPLORE MARS</h2>
        <p class="mt-1 text-sm leading-6 text-gray-100">Get Mars Photos taken by NASA's Curiosity Rover.</p> -->
  
        <form action="/getMarsPhoto" method="GET">  
            <!-- <div class="mt-4 grid grid-cols-3 gap-x-2 gap-y-8"> -->
                <div class="flex justify-center">

                    <div class="mt-4 flex justify-evenly">

                        <div class="w-[33%]">
                            <label for="sol" class="block text-sm font-medium leading-6 text-gray-100">Sol(Mars Solar Day)</label>
                            <div class="mt-2">                        
                                <input type="number" name="sol" placeholder="Enter a value" value="" class="block w-[96%] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-xs focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>                        
                            </div>
                        </div>
        
                        <div class="w-[35%]">
                            <label for="camera" class="block text-sm font-medium leading-6 text-gray-100">Camera</label>
                            <div class="mt-2">
                                <select name="camera" class="block w-[95%] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">                        
                                    <option class="text-xs" value="">Any</option>
                                        <% cameras.forEach(camera => { %>
                                            <option class="text-xs" value="<%= camera %>"><%= camera %></option>
                                        <% }) %>
                                </select>
                            </div>
                        </div> 
        
                        <div>
                            <label for="button" class="block text-sm font-medium leading-6 text-gray-100">&nbsp;</label>
                            <div class="mt-2">
                                <button type="submit" class="rounded-sm bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get photos</button>
                            </div>
                        </div>
                            
                    </div>

                </div>           
            
        </form>
    </div>

    <% if(typeof photos !== 'undefined' && photos.length > 0) { %>  
        <div class="flex justify-center">
            <p class="flex justify-center items-center text-blue-100"><%= photos.length < 10 ? '0' + photos.length : photos.length %> images received.</p>
        </div>              
        <div class="flex flex-wrap justify-center text-sm">           
            <% photos.forEach(photo => { %>                
                <div class="card group w-[70%] bg-white border-2 border-blue-200 sm:w-[40%] md:w-[35%] lg:w-[25%] h-auto rounded-lg shadow-2xl my-4 mx-2 sm:mx-4 transition delay-150 duration-300 ease-in-out hover:shadow-3xl hover:scale-105 group-hover:shadow-3xl group-hover:scale-105">
                    <figure><img class="rounded-t-lg w-full h-auto" src="<%= photo.img_src %>" alt="Mars photo"></figure>
                    <div class="card-body p-4 hover:border-blue-300">
                        <h2 class="card-title flex justify-between">
                            <span class="font-bold"> Sol : <%= photo.sol %></span>
                            <div class="badge badge-secondary font-bold"><%= photo.camera.name %></div>
                        </h2>
                        <div class="flex flex-col items-center p-2">                        
                            <p>Earth Date : <%= photo.earth_date %></p>
                            <div class="card-actions">
                                <div class="badge badge-outline px-2"> Launch Date : <%= photo.rover.launch_date %></div> 
                                <div class="badge badge-outline"> Landing Date : <%= photo.rover.landing_date %></div>
                            </div>                            
                        </div>                      
                    </div>
                </div>            
            <% }) %>
        </div>
    <% } else if(typeof photos !== 'undefined' && photos.length == 0){ %>
        <div class="flex justify-center">
            <p class="w-[50%] h-20 flex justify-center items-center bg-white">Sorry !! No results received. Try again with different values.</p>
        </div>        
    <% } else { %>
        <div class="text-blue-100 bg-black bg-opacity-25 p-12 flex flex-col items-center justify-center mx-auto">            
                <p class="text-5xl">EXPLORE MARS</p>
                <p>Search images captured by NASA's Curiosity Rover.</p>            
        </div>            
    <% } %>
    
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>